*{
  margin: 0%;
  padding: 0%
}




span{
  font: 2em sans-serif;
  background-color: #bdf0f1;
  color: rgb(26, 148, 148);
  
}

.item2{
  color: #5f84be;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 3s;

}

#a{
  background-color: #bdf0f1;
}

#b{
  background-color: #bdf0f1;
}

#c{
  background-color: #bdf0f1;
}

body{
  
  
    max-width: 800px;
    margin: auto;

}