span{
  font: 2em sans-serif;
  background-color: #bdf0f1;
  color: rgb(26, 148, 148);
  
}

#test{
  color: #5f84be;
}

#a{
  background-color: #bdf0f1;
}

#b{
  background-color: #bdf0f1;
}

#c{
  background-color: #bdf0f1;
}